# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM

IndentWidth: 4
IndentCaseLabels: false
UseTab: AlignWithSpaces
TabWidth: 4

# Clang 19
#BreakAfterReturnType: AllDefinitions
AlwaysBreakAfterReturnType: All
BreakBeforeBinaryOperators: true

AllowAllArgumentsOnNextLine: true
BinPackArguments: false
BinPackParameters: false

AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignOperands: AlignAfterOperator

AllowShortIfStatementsOnASingleLine: false

SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: false

InsertBraces: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterControlStatement: MultiLine
  AfterEnum: true
  AfterFunction: true
